body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
/*=== CHAT ROOM ===*/
/* Container */
.chat-room {
  height: 100vh;
  display: flex;
}
/* Conversations Container */
.conversations-container {
  background-color: #FFEE93;
  height: 100%;
  width: 20%;
}
  /* Conversation */
  .conversation:hover{
    cursor: pointer;
  }

  .active-conversation {
    font-weight: 600;
    color: teal;
  }

  .desktop-conversation-name {
    display: block;
  }

  /* New User Joined Chat Animation */

  .active-conversation-shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

/* Messages Container */
.messages-container {
  height: 100%;
  width: 80%;
}
  /* Messages Content */
  .messages-content {
    width: 100%;
    height: 80%;
    border-bottom: 1.25px solid #FFEE93;
    overflow-y: auto;
    position: relative;
  }

  /*  MOBILE DESIGN  */
  @media(max-width: 1024px) {

    .messages {
      padding: 15px !important;
    }

    .message {
      width: 100%;
    }

    .message-avatar {
      margin: 0 5px !important;
      height: 1.5rem !important;
    }

    .conversation-avatar {
      margin: auto;
    }

    .conversation-name {
      display: none;
    }
  }

/* == GENERAL == */

.hidden {
  display: none;
}

/* == SCROLLBAR == */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}