body {
  padding: 0;
  margin: 0;
}
/*=== CHAT ROOM ===*/
/* Container */
.chat-room {
  height: 100vh;
  display: flex;
}
/* Conversations Container */
.conversations-container {
  background-color: peachpuff;
  height: 100%;
  width: 20%;
}
/* Messages Container */
.messages-container {
  height: 100%;
  width: 80%;
}
  /* Messages Content */
  .messages-content {
    width: 100%;
    height: 80%;
    border-bottom: 1px solid #FFEE93;
    overflow-y: auto;
  }

  /* Message Form  */
  .message-form {
    background-color: cornsilk;
  }


  /*  MOBILE DESIGN  */
  @media(max-width: 1024px) {

    .messages {
      padding: 15px !important;
    }

    .message {
      width: 100%;
    }

    .message-avatar {
      margin: 0 5px !important;
      height: 1.5rem !important;
    }
  }
